In [4]:
import time
import datetime
from dateutil import parser
import requests
import json

In [2]:
def make_url(start, end=None, vs='usd'):
  try:
    start = int(parser.parse(start).timestamp())
    if end: end = int(parser.parse(end).timestamp())
  except:
    return None
  if end is None: end = int(time.time())

  return f'https://api.coingecko.com/api/v3/coins/bitcoin/market_chart/range?vs_currency={vs}&from={start}&to={end}'

In [34]:
def fetch_from_url(url):
  # try:
  return json.loads(requests.get(url).text)
  # except:
    # return []

In [35]:
def fetch_rates(start, end, vs='usd'):
  return fetch_from_url(
    make_url(
      start, end, vs
    )
  )

In [7]:
timestamp_2_date = lambda t: datetime.datetime.fromtimestamp(t).strftime('%Y-%m-%d %H:%M:%S')
timestamp1000_2_date = lambda t : timestamp_2_date(int(t/1000))

In [8]:
date_2_timestamp = lambda d : int(parser.parse(d).timestamp())

In [20]:
end = timestamp_2_date(time.time())
end

'2024-07-19 00:31:17'

In [38]:
start = '2024-06-19 00:31:17'
start

'2024-06-19 00:31:17'

In [39]:
month_data = fetch_rates(start, end)

In [43]:
import pandas as pd

In [53]:
df = pd.DataFrame(
  [
    [timestamp1000_2_date(x[0]), int(x[0]/1000), x[1]] for x in month_data['prices']
  ],
  columns=['date-time', 'timestamp', 'price']
)

In [49]:
df.head()

             date-time   timestamp         price
0  2024-06-19 01:03:45  1718741025  64258.666887
1  2024-06-19 02:05:57  1718744757  64835.017391
2  2024-06-19 03:09:31  1718748571  65100.647146
3  2024-06-19 04:04:19  1718751859  65235.400136
4  2024-06-19 05:01:56  1718755316  65158.982657

In [51]:
df.describe()

          timestamp         price
count  7.200000e+02    720.000000
mean   1.720035e+09  60952.278587
std    7.487900e+05   2963.550439
min    1.718741e+09  54092.795613
25%    1.719388e+09  58048.845637
50%    1.720036e+09  61127.629699
75%    1.720682e+09  63671.351407
max    1.721329e+09  66174.297882

In [54]:
df.to_csv('1-month-data.csv', index=False)